{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 180,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
