{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 180,
  "parser": "typescript",
  "overrides": [{
    "files": "*.json",
    "options": {
      "parser": "json"
    }
  }]
}
